html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, span, p, a, img, input, button {
  margin: 0;
  padding: 0; }

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#head {
  width: 100%;
  height: 85px;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.6); }
  #head .head_tap {
    width: 80%;
    height: 85px;
    margin: 0 auto; }
    #head .head_tap .logo_dark {
      width: 212px;
      height: 41px;
      background: url("./images/logo_dark.png");
      margin-top: 22px; }
    #head .head_tap .home {
      float: right;
      margin-top: -33px; }
      #head .head_tap .home div {
        font-size: 12px;
        display: inline-block;
        margin-right: 30px; }
        #head .head_tap .home div a {
          transition: all 1s;
          text-decoration: none;
          color: #000; }
      #head .head_tap .home div a:hover {
        color: orange;
        cursor: pointer; }
    #head .head_tap .ht_btn {
      width: 60px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background: url("./images/icon.png") no-repeat;
      position: absolute;
      right: 100px;
      top: 15px;
      display: none; }

#btn_content {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none; }
  #btn_content .del {
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
  #btn_content .bc_home {
    margin-top: 100px; }
    #btn_content .bc_home div {
      font-size: 14px;
      text-align: center;
      margin-top: 20px; }
    #btn_content .bc_home div:hover {
      color: orange;
      cursor: pointer; }

#carousel_figure {
  width: 100%;
  height: 552px;
  position: relative;
  overflow: hidden; }
  #carousel_figure .cf_content {
    width: 100%;
    height: 552px; }
    #carousel_figure .cf_content .cf_content-img {
      width: 100%;
      height: 552px;
      position: absolute;
      top: 0;
      left: 0; }
      #carousel_figure .cf_content .cf_content-img a img {
        width: 100%; }

#sea_tours {
  width: 100%;
  margin-top: 100px; }
  #sea_tours div {
    border-radius: 10px; }
  #sea_tours .st_content {
    width: 80%;
    margin: 0 auto; }
    #sea_tours .st_content .bestTours {
      text-align: center; }
      #sea_tours .st_content .bestTours .bt_bw {
        font-size: 32px;
        font-weight: 700;
        transition: all 1s; }
      #sea_tours .st_content .bestTours .bt_sw {
        font-size: 14px;
        color: #b9b9b9;
        font-weight: 400;
        transition: all 1s; }
    #sea_tours .st_content .bestTours:hover .bt_bw {
      transform: translateY(-10px); }
    #sea_tours .st_content .bestTours:hover .bt_sw {
      transform: translateY(10px); }
    #sea_tours .st_content .scenic_spot {
      margin-top: 50px; }
      #sea_tours .st_content .scenic_spot div {
        text-align: center; }
        #sea_tours .st_content .scenic_spot div .spot_w:hover, #sea_tours .st_content .scenic_spot div .price:hover {
          color: #FF6600;
          cursor: pointer;
          transform: translateY(-10px); }
        #sea_tours .st_content .scenic_spot div .spot_w {
          margin-top: 80px;
          font-size: 28px;
          color: #fff;
          font-weight: 700;
          transition: all 1s; }
        #sea_tours .st_content .scenic_spot div .price {
          color: #fff;
          margin-top: 30px;
          font-weight: 400;
          transition: all 1s; }
        #sea_tours .st_content .scenic_spot div .view_btn {
          width: 130px;
          height: 50px;
          background: #FF6600;
          border-radius: 50px;
          margin: 30px auto;
          font-size: 14px;
          color: #fff;
          line-height: 50px;
          font-weight: 700;
          transition: all 1s; }
        #sea_tours .st_content .scenic_spot div .view_btn:hover {
          background: rgba(0, 0, 0, 0.5);
          color: #FF6600;
          cursor: pointer;
          transform: translateY(-10px); }
      #sea_tours .st_content .scenic_spot .mauritius {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_1.jpg");
        float: left;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .santorini {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_2.jpg");
        float: left;
        margin-left: 5%;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .paros {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_3.jpg");
        float: left;
        margin-left: 5%;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .kythira {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_4.jpg");
        float: left;
        margin-top: 3%;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .corfu {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_5.jpg");
        float: left;
        margin-left: 5%;
        margin-top: 3%;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .crete {
        width: 30%;
        height: 350px;
        background: url("./images/sea_tour_img_6.jpg");
        float: left;
        margin-left: 5%;
        margin-top: 3%;
        transition: all 1s;
        box-shadow: 1px 4px 18px 1px black; }
      #sea_tours .st_content .scenic_spot .empty {
        width: 100%;
        height: 100px;
        float: left; }
      #sea_tours .st_content .scenic_spot .mauritius:hover, #sea_tours .st_content .scenic_spot .santorini:hover, #sea_tours .st_content .scenic_spot .paros:hover, #sea_tours .st_content .scenic_spot .kythira:hover, #sea_tours .st_content .scenic_spot .corfu:hover, #sea_tours .st_content .scenic_spot .crete:hover {
        transform: translateY(10px); }

#maldives {
  width: 100%;
  height: 345px;
  background: url("./images/tour_slider_bg.jpg");
  overflow: hidden;
  margin-top: 100px; }
  #maldives .text {
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
    transition: all 1s; }
    #maldives .text h2:hover, #maldives .text span:hover, #maldives .text p:hover {
      color: #FF6600;
      cursor: pointer; }
    #maldives .text h2 {
      font-size: 32px;
      color: #fff;
      transition: all 0.5s; }
    #maldives .text span, #maldives .text p {
      color: #fff;
      transition: all 0.5s; }
  #maldives .text:hover {
    transform: translateY(-20px); }

#beautiful {
  width: 100%; }
  #beautiful .trips_spot {
    text-align: center;
    margin-top: 100px; }
    #beautiful .trips_spot .text {
      font-size: 32px; }
    #beautiful .trips_spot .spot_sm {
      font-size: 14px;
      color: #b9b9b9; }

#trips_tours {
  margin-top: 100px; }
  #trips_tours .tours_content .text {
    text-align: center; }
    #trips_tours .tours_content .text h2 {
      font-size: 32px;
      transition: all 1s; }
    #trips_tours .tours_content .text p {
      font-size: 14px;
      color: #b9b9b9;
      transition: all 1s; }
  #trips_tours .tours_content .text:hover h2 {
    transform: translateY(-10px); }
  #trips_tours .tours_content .text:hover p {
    transform: translateY(10px); }
  #trips_tours .beautiful_tours {
    margin-top: 50px;
    overflow: hidden; }
    #trips_tours .beautiful_tours div {
      width: 100%;
      height: 284px;
      background: rgba(0, 0, 0, 0);
      transition: all 1s; }
    #trips_tours .beautiful_tours .India .shadow:hover, #trips_tours .beautiful_tours .Hainan .shadow:hover, #trips_tours .beautiful_tours .Brunei .shadow:hover, #trips_tours .beautiful_tours .Greece .shadow:hover, #trips_tours .beautiful_tours .France .shadow:hover, #trips_tours .beautiful_tours .Italy .shadow:hover, #trips_tours .beautiful_tours .Malaysia .shadow:hover, #trips_tours .beautiful_tours .Singapore .shadow:hover, #trips_tours .beautiful_tours .Britain .shadow:hover {
      background: rgba(0, 0, 0, 0.5); }
      #trips_tours .beautiful_tours .India .shadow:hover h2, #trips_tours .beautiful_tours .Hainan .shadow:hover h2, #trips_tours .beautiful_tours .Brunei .shadow:hover h2, #trips_tours .beautiful_tours .Greece .shadow:hover h2, #trips_tours .beautiful_tours .France .shadow:hover h2, #trips_tours .beautiful_tours .Italy .shadow:hover h2, #trips_tours .beautiful_tours .Malaysia .shadow:hover h2, #trips_tours .beautiful_tours .Singapore .shadow:hover h2, #trips_tours .beautiful_tours .Britain .shadow:hover h2 {
        color: #ff6600;
        transform: translateY(-10px); }
    #trips_tours .beautiful_tours .India .shadow h2, #trips_tours .beautiful_tours .Hainan .shadow h2, #trips_tours .beautiful_tours .Brunei .shadow h2, #trips_tours .beautiful_tours .Greece .shadow h2, #trips_tours .beautiful_tours .France .shadow h2, #trips_tours .beautiful_tours .Italy .shadow h2, #trips_tours .beautiful_tours .Malaysia .shadow h2, #trips_tours .beautiful_tours .Singapore .shadow h2, #trips_tours .beautiful_tours .Britain .shadow h2 {
      text-align: center;
      color: #fff;
      line-height: 284px;
      transition: all 1s; }
    #trips_tours .beautiful_tours .India {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_1.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Hainan {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_2.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Brunei {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_3.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Greece {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_4.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .France {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_5.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Italy {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_6.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Malaysia {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_7.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Singapore {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_8.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }
    #trips_tours .beautiful_tours .Britain {
      width: 33.3%;
      height: 284px;
      background: url("./images/photo_9.jpg") no-repeat;
      background-size: 100% 100%;
      float: left; }

#travel_countries {
  width: 100%; }
  #travel_countries .travel_content {
    width: 80%;
    margin: 100px auto; }
    #travel_countries .travel_content .text {
      text-align: center; }
      #travel_countries .travel_content .text h2 {
        font-size: 32px;
        transition: all 1s; }
      #travel_countries .travel_content .text p {
        font-size: 14px;
        color: #b9b9b9;
        transition: all 1s; }
    #travel_countries .travel_content .text:hover h2 {
      transform: translateY(-10px); }
    #travel_countries .travel_content .text:hover p {
      transform: translateY(10px); }
    #travel_countries .travel_content .popular_countries {
      margin-top: 50px;
      overflow: hidden; }
      #travel_countries .travel_content .popular_countries .left_pic {
        float: left;
        width: 45%; }
        #travel_countries .travel_content .popular_countries .left_pic div {
          float: left;
          border-radius: 10px;
          transition: all 1s; }
        #travel_countries .travel_content .popular_countries .left_pic div:hover {
          opacity: 0.5; }
        #travel_countries .travel_content .popular_countries .left_pic .popular-one {
          width: 45%;
          height: 200px;
          background: url("./images/popular_travel_img_1.jpg");
          background-size: 100% 100%; }
        #travel_countries .travel_content .popular_countries .left_pic .popular-two {
          width: 45%;
          height: 200px;
          background: url("./images/popular_travel_img_2.jpg");
          background-size: 100% 100%;
          margin-left: 20px; }
        #travel_countries .travel_content .popular_countries .left_pic .popular-three {
          width: 45%;
          height: 200px;
          background: url("./images/popular_travel_img_3.jpg");
          background-size: 100% 100%;
          margin-top: 20px; }
        #travel_countries .travel_content .popular_countries .left_pic .popular-four {
          width: 45%;
          height: 200px;
          background: url("./images/popular_travel_img_4.jpg");
          background-size: 100% 100%;
          margin-left: 20px;
          margin-top: 20px; }
      #travel_countries .travel_content .popular_countries .right_text {
        width: 55%;
        float: left; }
        #travel_countries .travel_content .popular_countries .right_text .rt_text {
          margin-top: 50px; }
          #travel_countries .travel_content .popular_countries .right_text .rt_text p {
            font-size: 16px;
            color: #b9b9b9;
            margin-left: 80px; }
        #travel_countries .travel_content .popular_countries .right_text .rb_text {
          margin-top: 150px;
          overflow: hidden; }
          #travel_countries .travel_content .popular_countries .right_text .rb_text ul {
            float: left;
            margin-left: 80px; }
            #travel_countries .travel_content .popular_countries .right_text .rb_text ul li {
              font-size: 16px;
              color: #b9b9b9; }

#travel_countries-second {
  width: 100%; }
  #travel_countries-second .travel_content {
    width: 80%;
    margin: 0 auto;
    overflow: hidden; }
    #travel_countries-second .travel_content .left_text {
      float: left;
      width: 50%; }
      #travel_countries-second .travel_content .left_text .lt_text {
        margin-top: 50px; }
        #travel_countries-second .travel_content .left_text .lt_text p {
          font-size: 14px;
          color: #b9b9b9;
          margin-left: 40px; }
      #travel_countries-second .travel_content .left_text .lb_text {
        overflow: hidden;
        margin-top: 150px; }
        #travel_countries-second .travel_content .left_text .lb_text ul {
          float: left;
          margin-left: 80px; }
          #travel_countries-second .travel_content .left_text .lb_text ul li {
            color: #b9b9b9; }
    #travel_countries-second .travel_content .right_pic {
      width: 50%;
      float: left; }
      #travel_countries-second .travel_content .right_pic div {
        float: left;
        border-radius: 10px;
        transition: all 1s; }
      #travel_countries-second .travel_content .right_pic div:hover {
        opacity: 0.5; }
      #travel_countries-second .travel_content .right_pic .popular-one {
        width: 45%;
        height: 200px;
        background: url("./images/popular_travel_img_5.jpg");
        background-size: 100% 100%; }
      #travel_countries-second .travel_content .right_pic .popular-two {
        width: 45%;
        height: 200px;
        background: url("./images/popular_travel_img_6.jpg");
        background-size: 100% 100%;
        margin-left: 20px; }
      #travel_countries-second .travel_content .right_pic .popular-three {
        width: 45%;
        height: 200px;
        background: url("./images/popular_travel_img_7.jpg");
        background-size: 100% 100%;
        margin-top: 20px; }
      #travel_countries-second .travel_content .right_pic .popular-four {
        width: 45%;
        height: 200px;
        background: url("./images/popular_travel_img_8.jpg");
        background-size: 100% 100%;
        margin-left: 20px;
        margin-top: 20px; }

#footer {
  width: 100%;
  height: 450px;
  background: #060c17;
  margin-top: 100px;
  overflow: hidden; }
  #footer .footer_content {
    width: 80%;
    margin: 50px auto; }
    #footer .footer_content .content_one {
      float: left;
      width: 25%; }
      #footer .footer_content .content_one .footer-logo {
        width: 100%;
        height: 36px;
        background: url("./images/logo.png") no-repeat;
        background-size: 100% 100%;
        margin: 0 auto; }
      #footer .footer_content .content_one .text {
        color: #fff;
        line-height: 24px;
        font-weight: 700;
        margin-top: 30px;
        text-align: center; }
    #footer .footer_content .content_two {
      width: 20%;
      float: left;
      margin-left: 100px; }
      #footer .footer_content .content_two h5 {
        color: #fff;
        margin-top: 10px; }
      #footer .footer_content .content_two .ct-middle, #footer .footer_content .content_two .ct-bottom {
        margin-top: 20px; }
      #footer .footer_content .content_two .ct-top {
        overflow: hidden;
        margin-top: 20px; }
        #footer .footer_content .content_two .ct-top .ctt-if {
          width: 80px;
          height: 77px;
          background: url("./images/news_1.jpg");
          float: left; }
        #footer .footer_content .content_two .ct-top .text {
          float: left;
          line-height: 25px;
          margin-left: 20px; }
          #footer .footer_content .content_two .ct-top .text span {
            color: #fff;
            font-size: 16px; }
          #footer .footer_content .content_two .ct-top .text div {
            color: #ff6600;
            font-size: 14px; }
      #footer .footer_content .content_two .ct-middle {
        overflow: hidden; }
        #footer .footer_content .content_two .ct-middle .ctt-if {
          width: 80px;
          height: 77px;
          background: url("./images/news_2.jpg");
          float: left; }
        #footer .footer_content .content_two .ct-middle .text {
          float: left;
          line-height: 25px;
          margin-left: 20px; }
          #footer .footer_content .content_two .ct-middle .text span {
            color: #fff;
            font-size: 16px; }
          #footer .footer_content .content_two .ct-middle .text div {
            color: #ff6600;
            font-size: 14px; }
      #footer .footer_content .content_two .ct-bottom {
        overflow: hidden; }
        #footer .footer_content .content_two .ct-bottom .ctt-if {
          width: 80px;
          height: 77px;
          background: url("./images/news_1.jpg");
          float: left; }
        #footer .footer_content .content_two .ct-bottom .text {
          float: left;
          line-height: 25px;
          margin-left: 20px; }
          #footer .footer_content .content_two .ct-bottom .text span {
            color: #fff;
            font-size: 16px; }
          #footer .footer_content .content_two .ct-bottom .text div {
            color: #ff6600;
            font-size: 14px; }
    #footer .footer_content .content_three {
      float: left;
      width: 15%;
      margin-left: 80px; }
      #footer .footer_content .content_three h5 {
        color: #fff; }
      #footer .footer_content .content_three div {
        width: 80px;
        height: 36px;
        color: #ff6600;
        font-size: 14px;
        text-align: center;
        line-height: 36px;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 36px;
        margin-top: 20px;
        transition: all 1s; }
      #footer .footer_content .content_three div:hover {
        background: #ff6600;
        color: #fff;
        cursor: pointer;
        font-weight: 600; }
    #footer .footer_content .content_four {
      float: left;
      width: 22%; }
      #footer .footer_content .content_four h5 {
        color: #fff; }
      #footer .footer_content .content_four div {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-top: 25px; }

@media (max-width: 1278px) {
  #footer {
    height: 1000px; }
    #footer .footer_content .content_one, #footer .footer_content .content_two, #footer .footer_content .content_three, #footer .footer_content .content_four {
      width: 100%;
      margin: 10px; } }
@media (max-width: 1100px) {
  #head {
    height: 100px; }
    #head .head_tap .home {
      margin-top: 12px; } }
@media (max-width: 1000px) {
  #trips_tours .tours_content .beautiful_tours .India {
    width: 100%; }
  #trips_tours .tours_content .beautiful_tours .Hainan, #trips_tours .tours_content .beautiful_tours .Brunei, #trips_tours .tours_content .beautiful_tours .Greece, #trips_tours .tours_content .beautiful_tours .France, #trips_tours .tours_content .beautiful_tours .Italy, #trips_tours .tours_content .beautiful_tours .Malaysia, #trips_tours .tours_content .beautiful_tours .Singapore, #trips_tours .tours_content .beautiful_tours .Britain {
    width: 50%; }

  #travel_countries .travel_content .popular_countries .left_pic {
    width: 100%; }
  #travel_countries .travel_content .popular_countries .right_text {
    width: 100%; }
    #travel_countries .travel_content .popular_countries .right_text .rt_text {
      text-align: center; }

  #travel_countries-second .travel_content .left_text {
    width: 100%; }
  #travel_countries-second .travel_content .right_pic {
    width: 100%; } }
@media (max-width: 980px) {
  #head {
    height: 60px; }
    #head .head_tap .logo_dark {
      margin-top: 9px; }
    #head .head_tap .home {
      display: none; }
    #head .head_tap .ht_btn {
      display: block; } }
@media (max-width: 800px) {
  #sea_tours .st_content .scenic_spot {
    margin: 0 auto; }
    #sea_tours .st_content .scenic_spot .mauritius, #sea_tours .st_content .scenic_spot .santorini, #sea_tours .st_content .scenic_spot .paros, #sea_tours .st_content .scenic_spot .kythira, #sea_tours .st_content .scenic_spot .corfu, #sea_tours .st_content .scenic_spot .crete {
      width: 40%;
      background-repeat: no-repeat; }
    #sea_tours .st_content .scenic_spot .mauritius, #sea_tours .st_content .scenic_spot .santorini, #sea_tours .st_content .scenic_spot .paros {
      margin-top: 3%; }
    #sea_tours .st_content .scenic_spot .mauritius, #sea_tours .st_content .scenic_spot .kythira {
      margin-left: 5%; }

  #trips_tours .tours_content .beautiful_tours .India, #trips_tours .tours_content .beautiful_tours .Hainan, #trips_tours .tours_content .beautiful_tours .Brunei, #trips_tours .tours_content .beautiful_tours .Greece, #trips_tours .tours_content .beautiful_tours .France, #trips_tours .tours_content .beautiful_tours .Italy, #trips_tours .tours_content .beautiful_tours .Malaysia, #trips_tours .tours_content .beautiful_tours .Singapore, #trips_tours .tours_content .beautiful_tours .Britain {
    width: 100%; } }
@media (max-width: 700px) {
  #footer {
    height: 1000px; }
    #footer .footer_content .content_one, #footer .footer_content .content_two, #footer .footer_content .content_three, #footer .footer_content .content_four {
      width: 100%;
      margin: 0 auto; } }
@media (max-width: 590px) {
  #sea_tours .st_content .scenic_spot .mauritius, #sea_tours .st_content .scenic_spot .santorini, #sea_tours .st_content .scenic_spot .paros, #sea_tours .st_content .scenic_spot .kythira, #sea_tours .st_content .scenic_spot .corfu, #sea_tours .st_content .scenic_spot .crete {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%; } }
@media (min-width: 256px) and (max-width: 340px) {
  #sea_tours {
    margin-top: -420px; } }
@media (min-width: 340px) and (max-width: 640px) {
  #sea_tours {
    margin-top: -280px; } }
@media (min-width: 640px) and (max-width: 1000px) {
  #sea_tours {
    margin-top: -100px; } }

/*# sourceMappingURL=index.css.map */
